

.wave {
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: scaleX(-1);
  width: 900px;
}
/* 
.container {
  background-color: var(--light-color);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
} */

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: 500px;
  z-index: 3;
}

.login-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .wave{
      width: 850px;
  }
}

@media screen and (max-width: 1400px) {
  .wave{
      width: 750px;
  }
}

@media screen and (max-width: 1300px) {
  .wave{
      width: 700px;
  }
}
@media screen and (max-width: 1100px) {
  .wave{
      width: 650px;
  }
}


/* @media screen and (max-width: 1050px) {
  .container{
      grid-gap: 5rem;
  }
} */

@media screen and (max-width: 1000px){
  form {
      width: 290px;
  }

  form h2 {
      font-size: 2.4rem;
      margin: 8px 0;
  }

  .img img {
      width: 400px;
  }

  .wave {
      width: 600px;
  }
}

@media screen and (max-width: 995px) {
  .wave{
      width: 550px;
  }
}

@media screen and (max-width: 900px) {
  .img {
      display: none;
  }
  /* .container {
      grid-template-columns: 1fr;
  } */
  .wave {
      display: none;
  }
  .login-container {
      justify-content: center;
  }
}