@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Poppins:wght@500;600;700;800;900&display=swap");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #845ef1 !important;
}

:root {
  --primary-color: #845ef1;
  --link-color: #999;
  --light-color: #f7f7f7;
  --dark-color: #333;
  --border-color: #eeebf5;
  --input-color: #555;
  --error-color: #dc143c;
  --light-purple: rgba(107, 73, 201, 0.109);
  --hover-purple: rgba(107, 73, 201, 0.582);
}